@page
@model ProyectoFinalCsPharma.Pages.EstadosEnvioPedido.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "EstadosEnvioPedido";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TdcCatEstadosEnvioPedido[0].MdUuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcCatEstadosEnvioPedido[0].MdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcCatEstadosEnvioPedido[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdcCatEstadosEnvioPedido[0].DesEstadoEnvio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TdcCatEstadosEnvioPedido) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesEstadoEnvio)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CodEstadoEnvio">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CodEstadoEnvio">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CodEstadoEnvio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
